/*version SAMSUNG*/
body {
  animation-delay: 3s;
  animation-fill-mode: backwards;
  animation-name: noScroll;
}

@keyframes noScroll {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.wraper {
  position: fixed;
  width: 360px;
  height: 100%;
  background-color: red;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-name: spinner;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#bloc_page {
  width: 360px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

button {
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 10px #b3b2b2;
  transition-duration: 0.4s;
}
button:hover {
  box-shadow: 0 0 10px #7e7d7d;
  transform: scale(1.025);
}

h1 {
  width: 70%;
  height: 100%;
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu ul {
  padding-left: 20px;
  display: grid;
  gap: 10px;
  padding-right: 20px;
}
.menu ul li {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px #dbdbdb;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  border-radius: 15px;
  background-color: #fff;
  height: 60px;
  width: 320px;
  animation-delay: 200ms;
  animation-duration: 2s;
  animation-name: menuPop;
  transform: perspective(1px) translateZ(0);
  box-shadow: 2px 2px 3px #eaeaea;
  transition-duration: 0.4s;
  transition-property: transform;
}
.menu ul li:hover {
  transform: scale(1.07);
}
.menu ul li p {
  font-weight: 700;
  font-size: 16px;
  padding: 2px 20px;
  margin: 0;
}
.menu ul li .menuDescription {
  display: flex;
  justify-content: space-between;
}
.menu ul li .menuDescription p {
  font-size: 16px;
  font-weight: 400;
}
.menu ul li .menuDescription p:first-child {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu ul li .menuDescription p:last-child {
  font-weight: 700;
}

@keyframes menuPop {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0%;
  }
}
h3 {
  display: block;
  width: 10%;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  align-self: flex-start;
  margin-bottom: 0;
  border-bottom: solid;
  border-bottom-color: #99E2D0;
  padding-bottom: 3px;
}

.nameRestaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
header a {
  position: absolute;
  left: 20px;
  color: #000;
}

#logo {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.restaurantPicture {
  position: relative;
}
.restaurantPicture img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.heart {
  position: relative;
  width: 25px;
  height: 25px;
}
.heart .far {
  position: absolute;
  left: 0;
  font-size: 25px;
  transition-duration: 1s;
  color: #000;
}
.heart .fas {
  position: absolute;
  left: 0;
  font-size: 25px;
  transition-duration: 1s;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.heart:hover > .fas {
  opacity: 1;
}
.heart:hover > .far {
  opacity: 0;
}

main {
  height: auto;
  position: relative;
  background-color: #f6f6f6;
}

nav {
  position: relative;
}

.explore {
  border-radius: 20px;
  height: 40px;
  width: 180px;
  margin-top: 30px;
  margin-bottom: 60px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  font-weight: 700;
  color: #fff;
  border: 0;
}

footer {
  background-color: #353535;
}
footer img {
  width: 30%;
  height: auto;
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  margin: 20px 0 0 20px;
}
footer ul {
  color: #fff;
  text-decoration: #fff;
  list-style: none;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}

.about a {
  position: absolute;
  left: 45px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  border-bottom: none;
}

/*# sourceMappingURL=style_2.css.map */
